body{
  
    background-size: cover;
    
    text-align: center;
    min-height: 100vh;
   
        font-family: 'Roboto', sans-serif;
    
    
 
}

#img_detalle{
    min-height:80vh ;

}


.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.footer{
  position: sticky;
  top: 100%;
  
}